<!DOCTYPE html>
<html>
<head>
    <title>Conversor de Extrato Itaú</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<h2>Conversor de Extrato Itaú → CSV / XLSX</h2>

<form method="post" enctype="multipart/form-data">

    <input type="file" name="file" required>

    <br><br>

    <select name="format">
        <option value="csv">CSV</option>
        <option value="xlsx">XLSX</option>
    </select>

    <br><br>

    <button type="submit">Converter</button>

</form>

</body>
</html>